h1 {
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0px auto;
  font-size: 5.625rem;
  color: #66BFBF;
}
p{
  line-height: 2;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0px auto;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}


a:hover{
  color: #EAF6F6;
}
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.top-container {
  background-color: #eef9bf;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 50px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin: 0px auto 100px auto;
  text-align: left;

}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 40px;
}
.coding-pic{
  width: 10rem;
  float: left;
  margin-right: 30px;
}
.logic-pic{
  width: 10rem;
  float: right;
  margin-left: 30px;
}
.my-images {
  border-radius: 50%;
  width: 15%;
}

.pro {
  text-decoration: underline;
}
.descrip{
  width: 30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: bold;
  color: #14396A !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999B);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999B);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999B));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999B);
}
.btn:hover {
  color: #14396A !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
